body{
    margin: 0 150px;
    background-color: #eae8fd;
    font-family: Arial, Helvetica, sans-serif;
}
.conteudo{
    display: flex;
    margin-top: 10%;
    .conteudo-info{
        display: inline;
        padding: 60px 30px 0px 60px;
        align-items: center;
        h1{
            font-size: 60px;
            color: rgb(22, 101, 248);
            margin-bottom: -25px;
            padding: 0px;
        }
        h3{
            color: black;
            font-size: 28px;
            font-weight: 100;
        }
    }
}
.conteudo-login{
        p{
            font-size: 15px;
            margin: 24px 16px 10px 16px;
            text-align: center;
        }
        hr{
            border-color: white;
            margin-top: 20px;
        }
}
.login-box{
    box-shadow: 0px 5px 12px #b6b9b9;
    background-color: white;
    text-align: center;
    margin: 15px 20px 0px 20px ;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    border-color: rgb(228, 230, 235);
    display: block;
    width: 380px;
    height: 330px;
    .input{
        align-self: auto;
    }
}
.esqueci{
    color: rgb(22, 101, 248);
    font-size: 14px;
    text-decoration: none;
}
.input{
    border: 1px solid;
    border-color: #c9cfdb;
    margin: 5px 0px 8px 0px;
    width: 350px;
    height: 48px;
    border-radius: 6px;
    align-self: center;
    padding-left: 16px;
    font-size: 17px;
    font-weight: 200;
    color: #c9cfdb;
}
.enter{
    align-self: center;
    background-color: rgb(22, 101, 248);
    border: none;
    color: white;
    font-size: larger;
    margin: 8px 0px 20px 0px;
    width: 360px;
    height: 50px;
    border-radius: 6px;
    font-weight: 600;
}
.cria{
    font-size: 17px;
    border: none;
    background-color: #42b72a;
    color: white;
    margin: 5% 30% -0% 28%;
    width: 168px;
    height: 47px;
    border-radius: 6px; 
    font-weight: 600;   
}
@media screen and (max-width: 950px) {
    body{
        text-align: center;
        align-items: center;
    }
    .conteudo{
        display: inline-block;
        margin: 0px;
        margin-bottom: 50px;
        padding: 0%;
    }
    .conteudo-info{
        margin: auto;
    }
    .login-box{
        margin: auto;
    }
}
@media screen and (max-width: 600px) {
    body{
        text-align: center;
        align-items: center;
        margin: 0px;
    }
}