body{
    background-color: black;
}
ul{
    align-self: center;
    align-content: center;
}
li{
    display: flex;
    color: unset;
    margin: 50px 200px 50px 500px;
}
a{
    transition: 500ms;
    background-color:gray;
    font-size: larger;
    border: 1px solid;
    border-color: gold;
    padding: 10px 100px;
    text-decoration: none;
    color: white;
}
.facebook:hover{
    transform:scale(1.2);
    background-color: #1877f2;
}
.whatsapp:hover{
    transform:scale(1.2);
    background-color: #25d366;
}
.git:hover{
    transform:scale(1.2);
    background-color: #0000;
    color: gold;
}
.instagram:hover{
    transform:scale(1.2);
    background-color: #c32aa3;
}
.youtube:hover{
    transform:scale(1.2);
    background-color: #ff0000;
}
.linkedin:hover{
    transform:scale(1.2);
    background-color: #0a66c2;
}
