.principal{
    margin-top: 50px;
    display: flex;
    text-align: center;
    .card-titulo{
        font-size: 40px;
        color: rgb(219, 187, 4);
        margin-top: 30px;
        padding: 0%;
    }
}
img{
    margin: 0px;
    padding: auto;
    height: 400px;
    width: 400px;
}
.card-principal{
    background-color: rgb(5, 5, 110);
    transition: transform 200ms ease;
    border-radius: 5px;
    margin: 10px;
    margin-top: 30px;
    align-items: center;
    border: solid;
    border-style: ridge;
    border-color: rgb(219, 187, 4);
}
.card-header{
    margin: 0px;
}

.card-local{
    margin: auto;
    padding-top: 30px;
    padding: 0%;
    font-size: 40px;
}
.card-texto{
    text-align: center;
    font-size: larger;
}
.card-footer{
    padding: 5px;
    border-radius: 20px;
    border: solid;
    border-color: rgb(219, 187, 4);
    background-color: rgb(5, 5, 110);
    color: white;
    margin: 0px 20px 20px 670px;
    transition: transform 200ms ease-in-out;
}
.card-body{
    margin: 0px 100px 50px 100px;
}