.produtos{
    display: flex;
    margin: 50px 100px 100px 100px;
    text-align: left;
    .normal2{
        margin-left: 80%;
        padding: 15px 40px 15px 40px;
    }
    .Comprar{
        margin-top: 20%;
    }
}

.img-prod{
    border-radius: 10px;
    margin-top: 45px;
    margin-right: 50px;
    height: 750px;
    width: 600px;
}
.nome-prod{
    font-size: 35px;
}
.preco{
    font-size: 25px;
}
.desc{
    margin-top: 10px;
    text-align: justify;
}
ul{
    border: medium;
    border-color: rgb(4, 255, 222);
}
.card-prod2{
    display: inline;
}
footer{
    border-radius: 10px;
    background-color: rgb(5, 5, 110);
    border: solid;
    border-color: rgb(219, 187, 4);
    align-items: center;
    margin: 30px;
    display: flex;
    h3{
        color: rgb(219, 187, 4);
    }
    .preco{
        margin-left: 20px;
        font-size: large;
    }
    .nome-prod{
        margin-left: 20px;
        font-size: 25px;
    }
    .img-prod2{
        border-radius: 10px;
        margin-left: 20px;
        height: 100px;
        width: 100px;
    }
    p{
        margin: 0px 100px 50px 0px;
        margin-left: 20px;
        font-size: 15px;
    }
    a{
        color: rgb(219, 187, 4);
        font-style: italic;
        font-size: 15px;
        }
    .card-footer{
        align-self: center;
    }
}